@{ Layout = "_Layout"; }

<h1>Angel Hill Library</h1>
<h2>Add new book title</h2>
<hr />

<form action="/catalogs" method="post">
  <label for="title">Book Title:</label>
  <input id="title" name="title" type="text">
  <button type="submit">Add</button>
</form>

<h4><a href="/">Return home</a></h4>
